@tailwind base;
@tailwind components;
@tailwind utilities;


.product-card {
  @apply p-4 bg-white shadow-md rounded-lg;
}


input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 45px;
    height: 45px;
    border-radius: 0.375rem; 
    background-color: #FAF7F2; 
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid #ddd; 
    font-size: 24px; 
    text-align: center; 
    line-height: 45px; 
  }
  
  input[type="checkbox"]:checked {
    background-color: #FDC913; 
    content: "✔";
    color: white; 
  }
  
